<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicaandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".actividades.ActorActivity"
            android:parentActivityName=".actividades.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.SerieActivity"
            android:parentActivityName=".actividades.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.PeliculaActivity"
            android:parentActivityName=".actividades.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>

        <activity android:name=".SplashActivity"
            android:icon="@mipmap/ic_launcher_splash_f"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".actividades.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>